{% extends "layout.html" %}


{% block body %}

<h3>It's bari</h3>
<hr>

<p>
         I am enrolling Bachelor in Software Engineering, open source enthusiast, fast learner, early adopter, team guy, explorer, deeply driven, self motivated software craftsman. I love music,problem solving and mathematics. I contribute to open source projects at leisure. I would love to pursue challenging opportunities which contribute to a better tomorrow for all of us! I know git and work on Linux(Peppermint OS) . I am fan of Python Programming Language. I have working experience with MySQL, PostgreSQL and NoSQLs as well. I will not only build your app but also deploy it to cloud providers like heroku, aws, rackspace or any VPS.
</p>
{% endblock body %}
